.cart{
    position: fixed;
    color: #ffffff;
}

.personal-info h2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.personal-info img{
    width: 60px;
    border-radius: 20px;
    border: 5px solid rgb(12, 140, 244);
}

.personal-info p{
    margin-left: 20px;
}