.cart{
    position: fixed;
    color: #ffffff;
    padding: 10px;
}

.personal-info h2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.personal-info img{
    width: 60px;
    border-radius: 20px;
    border: 5px solid rgb(12, 140, 244);
}

.personal-info p{
    margin-left: 20px;
}

.btn-group{
    display: flex;
    margin: auto;
}

.rest-btn{
    width: 40px;
    height: 40px;
    font-weight: bold;
    margin: 5px;
    margin-top: 0;
    background-color: #ffffff;
    border: none;
    border-radius: 5000px;
}

.rest-btn:hover{
    background: rgb(12, 140, 244);
    color: #ffffff;
    border: 2px solid #ffffff;
}

.exercise-time{
    background: #ffffff;
    padding: 8px;
    color: rgba(31, 23, 23, 0.8);
    font-weight: bold;
    border-radius: 6px;
}

#exercise-time,#rest-time{
    color: #000;
}

.toast-btn{
    width: 100%;
    padding: 10px;
    font-weight: bold;
    font-size: 17px;
    background-color: #ffffff;
    border: 2px solid rgb(12, 140, 244);
    border-radius: 6px;
    color: rgb(12, 140, 244);
}

.toast{
    margin-top: 40px;
}

.toast-btn:hover{
    background-color: rgb(233, 0, 241);
    border: 1px solid #000;
    color: #ffffff;
    box-shadow: 2px 3px 12px rgb(233, 0, 241);
}




/* Media Query for Mobile Screen  */
@media screen and (max-width: 767px){
    .cart{
        position: static;
    }
}