.home{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.logo{
    width: 40px;
}

.data-title{
    text-align: center;
}

.data-wrapper h1{
    font-size: 3rem;
}

.colored-part{
    color: rgb(12, 140, 244);
}

.data-cart{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: 50px;
    margin-right: 40px;
}

.calculation-cart{
    background: rgb(12, 140, 244);
    padding: 10px;
}